@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebsiteBanGiaySneaker.Models.DONHANG>

@{
    ViewBag.Title = "DonHangChoGiao";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>CHỜ GIAO</h2>
<hr />
@using (Html.BeginForm("DonHangChoGiao", "QlyDonHang", FormMethod.Get))
{
    <div class="col-lg-8">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" value="@ViewBag.TuKhoa" placeholder="Tìm kiếm theo mã đơn hàng,khách hàng,nhân viên" name="timkiem">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
}
<br />
<hr />
@if (TempData["thongbao"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <strong>@TempData["thongbao"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().MaDH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NgayDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NgayGiao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DCGiao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().KHACHHANG.TenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NHANVIEN.TenNV)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            using (Html.BeginForm("GiaoHang", "QlyDonHang", new { @madh = item.MaDH }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaDH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayDat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayGiao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DCGiao)
                    </td>
                    <td>
                        @string.Format("{0:0,0}", @item.TongTien) VNĐ
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TinhTrang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThanhToan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KHACHHANG.TenKH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NHANVIEN.TenNV)
                    </td>
                    <td>
                        <button type="submit" value=" " title="Đã giao" class="fa fa-check btn btn-success btn-sm" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@*Tạo link liên kết các trang*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div>
        @Html.PagedListPager(Model, page => Url.Action("DongHangChoDuyet", new { @timkiem = @ViewBag.TuKhoa, page = page }))
    </div>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>