@model WebsiteBanGiaySneaker.Models.NHANVIEN

@{
    string quyen = (string)Session["Quyen"];
    if (quyen == "0")
    {
        Response.Redirect("/Admin/Login/kCoQuyen");
    }
    ViewBag.Title = "HienThiNV";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<br/>
<h2>CHI TIẾT</h2>
<hr/>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CMND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuyenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuyenNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "ChinhSuaNV", new { @manv=Model.MaNV},new {@class= "btn btn-success" }) |
    @Html.ActionLink("Trở về", "DanhSachNhanVien",null, new { @class = "btn btn-danger" })
</p>
