@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebsiteBanGiaySneaker.Models.CHITIETSP>

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>CHI TIẾT</h2>
<hr />
<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().SANPHAM.TenSP)
            </th>
            <th>
                @Html.Label("Số lượng")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().MauSac.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Size.Size1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SANPHAM.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MauSac.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size.Size1)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Trở về", "HienThi", new { @masp = @TempData["Masp"] }, new { @class = "btn btn-danger" })
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div>
    @Html.PagedListPager(Model, page => Url.Action("ChiTiet", new { @masp = @TempData["Masp"], page = page }))
</div>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>